html {
    background: url(./bgimg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: teal;
    font-size: inherit;
    font-weight: 500;
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid teal;
    border-radius: 15px;
}

#countdown {
    text-transform: capitalize;
    color: #012;
    font-size: 25px;
    font-family: cursive;
}